            * {
                box-sizing: border-box;
            }
            
            body {
                font-family: Arial, Helvetica, sans-serif;
            }
            /* Float four columns side by side */
            
            .column {
                float: left;
                width: 33.3%;
                padding: 0 10px;
            }
            /* Remove extra left and right margins, due to padding */
            
            .row {
                margin: 0 -5px;
            }
            /* Clear floats after the columns */
            
            .row:after {
                content: "";
                display: table;
                clear: both;
            }
            /* Responsive columns */
            
            @media screen and (max-width: 600px) {
                .column {
                    width: 100%;
                    display: block;
                    margin-bottom: 20px;
                }
            }
            /* Style the counter cards */
            
            .card-size {
                display: flex;
                flex-direction: column;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                text-align: center;
                background-color: #F1F1F1;
                width: 40vh;
                height: 500px;
                align-items: center;
                justify-content: space-around;
                margin: 20px !important;
            }
            /* Style all font awesome icons */
            
            .fa {
                width: 50px;
                height: 50px;
                text-align: center;
                text-decoration: none;
                padding-top: 12%;
                margin: 2px;
            }
            /* Add a hover effect if you want */
            
            .socialIcons {
                display: flex;
            }
            
            .fa-linkedin:before {
                font-size: 20px;
            }
            
            .fa:hover {
                opacity: 0.7;
            }
            
            .fa-github:before {
                font-size: 20px;
            }
            
            .fa-github {
                background: #000000;
                color: white;
            }
            
            .fa-linkedin {
                background: #007BB5;
                color: white;
            }
            
            .img-size {
                width: 200px;
                height: 200px;
                background-size: contain;
            }
            
            .img-size img {
                background-repeat: no-repeat;
                background-origin: content-box;
                width: 150px;
                height: 150px;
                border-radius: 100%;
                background-size: contain;
            }
            
            .info-flex {
                display: flex;
                flex-flow: row;
                flex-wrap: wrap;
            }