body {
    background: url(assets/NASAimage.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container {
    text-align: center;
    align-items: center;
    padding: 300px 150px;
}

#search {
    padding-left: 1em;
    font-size: large;
}

.input-field {
    position: relative !important;
    width: 88% !important;
}